* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 376px;
    margin: 0 auto;
}

.header {
    gap: 32px;
    background-color: #051525;
    background-image: url('assets/Star.png');
    background-size: cover;
    background-position: center;
    padding: 32px;
    width:375px;
    color: #f0f0f0;
    text-align: start;
}

.header .logo {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}

.header .logo img {
    width: 99px;
    margin-right: 10px;
}

.header .info h1 {
    font-size: 32px;
    margin-bottom: 10px;
    padding-bottom: 12px;
}

.header .info p {
    font-size: 12px;
}

.header .info a {
    text-decoration: none;
    color: #007BFF;
    font-size: 12px;
}

.header .info .Signup {
    display: flex;
    gap: 6px;
}
.header .info .Signup a {
    text-decoration: underline;
    color: #4D81E7;
}

.Forms {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 375px;
    flex-direction: column;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    color: grey;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
}

.form-group .error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 16px;
}

.under-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.check-box {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: grey;
}

.check-box img {
    width: 20px;
    margin-right: 5px;
}

.Forgot a {
    text-decoration: none;
    color: #4D81E7;
    font-size: 12px;
}

.Loginbt {
    text-align: center;
    margin-bottom: 24px;
}

.Loginbt button {
    background-color: #1D61E7;
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 10px;
    width:327px;
    height:48px;
    font-size: 14px;
    cursor: pointer;
}

.Loginbt button:hover {
    background-color: #0056b3;
}

.or p {
    margin-top: 24px;
    font-size: 12px;
}

.Login-option-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    width: 327px;
}

.Login-option-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #404040; 
    cursor: pointer;
    width: 156px;
    height: 48px;
    background-color: #fff;
    color: #333;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 40px;;
}

.footer strong {
    color: #000000;
    cursor: pointer;
}
